<div class="jumbotron-fluid">
    <nav-menu></nav-menu>
    
    
    <div class="header">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="mainslideshow" class="row">
            <main-carosel></main-carosel>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div id="rooms" class="row">
            <!--<div class="col-sm-4">
                <family-suite-carosel></family-suite-carosel>
            </div>-->
            <div class="col-sm-6">
                <deluxe-room-carosel></deluxe-room-carosel>
            </div>
            <div class="col-sm-6">
                <twinroom-carosel></twinroom-carosel>
            </div>
        </div>
    </div>
    <div><facilities></facilities></div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <booking-form></booking-form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-sm-6">
                <google-map></google-map>
            </div>
            <div class="col-sm-3">
                <social></social>
            </div>
            <div class="col-sm-3">
                <address></address>
            </div>
        </div>
    </div>


</div>
